body {
  background-color: #333;
  color: #fff;
}

h2 {
  text-align: center;
}

.shop-items {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.card {
  color: #000;
  margin-top: 20px;
  margin-bottom: 7px;
  border: 1px solid gray;
  text-align: center;
}

.card:last-child {
  margin-bottom: 30px;
}

.shop-item-image {
  height: 300px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cart-column {
  display: flex;
  align-items: center;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
  flex-wrap: wrap;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #fff;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #fff;
  margin-left: 0.5em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56ccf2;
  background-color: #eee;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row {
  border-bottom: 1px solid #fff;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: #fff;
  margin-right: 20px;
}

.cart-total-price {
  color: #fff;
  font-size: 1.1em;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
}

.cart-header {
  display: none;
}

footer {
  text-align: center;
}

@media (min-width: 500px) {
  .card,
  .card:last-child {
    margin-bottom: 20px;
  }
  .cart-row {
    display: flex;
    flex-wrap: nowrap;
  }
  .cart-header {
    display: block;
  }
}
